In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
dt=pd.read_csv('heart.csv')

In [3]:
dt.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
x=dt.iloc[:,:-1]
y=dt['target']

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=10)

# CLASSIFIER

In [8]:
dtc=DecisionTreeClassifier(criterion='gini',
    splitter='best',
    max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1,
    random_state=10,
    max_leaf_nodes=5)

dtc.fit(x_train,y_train)
dtc_pred=dtc.predict(x_test)
print('the accuracy is ',accuracy_score(y_test,dtc_pred)*100)

the accuracy is  72.1311475409836

In [10]:
 random=RandomForestClassifier(criterion='gini',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=5,bootstrap=True, random_state=100)
random.fit(x_train,y_train)
random_pred=random.predict(x_test)
print('the accuracy is ',accuracy_score(y_test,random_pred)*100)

the accuracy is  78.68852459016394

In [12]:
import pickle
with open('Heart_disease.pkl','wb') as file:pickle.dump(random,file)